.move-control {
  top: 120px;
  right: 26px;
}

.ol-control .move-button {
  background-image: url(move_control_bg.png);
  background-size: cover;
  cursor:pointer;
}
.ol-control .move-button {
  height: 77px;
  width: 77px;
}

.ol-control ,
.ol-control:hover{
  background-color:transparent;
}
