.rotate-control {
  top: 20px;
  right: 15px;
}

.ol-control .compass-button {
  background-image: url(compass_control_bg.png);
  background-size: cover;
  will-change:transform;
  cursor:pointer;
}
.ol-control .compass-button {
  height: 100px;
  width: 100px;
}

.ol-control .rotate-button {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(rotate_control_bg.png);
  background-size: cover;
}
.ol-control .rotate-button {
  height: 77px;
  width: 77px;
}
